.body{
font-optical-sizing: auto;
font-weight: 400;
font-style: normal;
background-image:  linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
url("images/board-walk.jpg");
background-size: cover;
background-position: center center;
color: white;
}
.header{
margin: 0 auto;
display: block;
margin-top: -100px;
text-align: center;
font-family: "Sawarabi Mincho", serif;
font-weight: 400;
font-style: normal;
border: 5px solid white;
max-width: 1000px;
}
.heading{
  font-size: 110px;
  letter-spacing: 4px;
}
.subheading{
  font-size: 40px;
  letter-spacing: 5px;
}
.heading, .subheading{
  color: white;
}
img{
  border: 20px solid rgb(245, 245, 58);
  border-radius: 2px;
}
.statue{
  margin-left: 1200px;
  transform: rotate(-8deg);
}
.ruins{
  margin-top: -200px;
float: left;
margin-left: 20px;
  transform: rotate(5deg);
}
.cenote{
float: right;
  transform: rotate(-10deg);
}